html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= locals.title
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css")
        //- TailwindCSS
        script(src="https://cdn.tailwindcss.com")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js")
        script(src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js")
    body
        include ../components/nav
        block content