<!--suppress HtmlDeprecatedAttribute -->
style(type="text/tailwindcss").
    ul.inline-nav li {
        @apply inline self-center;
    }
nav(class="flex flex-row bg-gray-900 px-4 py-2")
    h1(class="text-2xl font-bold text-white") Wemo Conductor
    ul(class="ml-4 inline-nav flex space-x-4")
        li
            a(href="/" class="text-white") Home
        //-li
        //-    a(href="#" class="text-white") Wemo Explorer